/* Brennan's code here */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  
header {
    padding: 30px 30px;
    display: flex;
    background-color: orange;
    border: 2px solid black;
}

header p {
    margin-left: 400px;
    margin-right: auto;
    width: 35em;
    padding: 18px;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
}
/* 
header img {
    border: 2px solid black;
    box-shadow: 4px 2px 4px 0px;
    border-radius: 20px;
} */

body {
    background-image: url("../images/background.jpg");
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-size: cover;
}

footer {
    position: absolute;
    bottom: 5px;
   padding: 30px;
   color: orange;
   font-size: large;
   font-weight: bold;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
/*Candice's code here*/
.btn-container {
    /* background-color: white; */
    width: 100%;
    /* background-color: black; */
}
.btn-container h3 {
    font-size: bold;
    color: white;
    
}
.newbtn {
    background-color: orange;
    color: white;
    margin: 0 5px 10px 5px;
}
#container-1{
    padding-top: 10px;
}
.boxes {
background-color: white;
display: flex;
justify-content: center;
font-size: 30px;
}
.cTitle {
    margin: 10px auto 10px auto;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 30px;
    width: 500px;
}
.cBoxes{
    margin: 10px auto 10px auto;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 225px;
    height: 100px;
   
}
.ui-tabs .ui-tabs-nav {
    display: flex;
    justify-content: center;
}
.ui-tabs .ui-tabs-panel {
    display: flex;
    flex-wrap: wrap;
    font-size: small;
}

/*Veronica's code here*/
.max-size {
    max-width: 30px;
    margin: 0 10px;
}

.form-width {
    max-width: 85px;
}

#convert {
    border-radius: 15px;
    background: orange;
    height: 60px;
}
#historyDiv{
    height: 175px;
}
/*Cory's code here */

.timeZone-departure {
   font-size: 30px;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   padding-top: -3rem;
 }

.timeZone-destination {
   font-size: 30px;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   padding-top: -3rem;
}

#departureTime{
    background-color: white;
    margin-top: 20px;
    text-align: center;
    height: 210px;
}

#destinationTime{
    background-color: white;
    margin-top: 20px;
    text-align: center;
    height: 210px;
}

/* Modal Styling */
.modal {
    display: none; /* Hidden by default */
    margin: auto;    
    top: 0;
    width: 400px; 
    height: 400px; 
}
  
  /* Modal Content/Box */
  .modal-content {
    text-align: center;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: black;
    color: white;
    padding: 1px;
    border: 1px solid #888;
    border: 5px solid orange;
    box-shadow:5px 5px 10px 10px black;
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
  }